<mat-tab-group>
    <mat-tab label="Mysite">
        <div class="icon"><a target="_blank" href="https://sites.google.com/u/2/new?authuser=2">Google_Fourm</a></div>
        <div class="icon"><a target="_blank" href="https://studylib.net/documents/activity">Studylib</a></div>
        <div class="icon"><a target="_blank" href="https://www.chemicalforums.com/index.php?PHPSESSID=jrlkso3jab3bb5f2en1fi39ma6;">Chemical Forum</a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
    </mat-tab>
    
    <mat-tab label="Chemistry">
        <div class="icon"><a target="_blank" href="https://www.organic-chemistry.org/">Organic Chemistry prof</a></div>
        <div class="icon"><a target="_blank" href="https://orcid.org/0000-0002-9007-5465">ORCid</a></div>
        <div class="icon"><a target="_blank" href="https://organicchemistrydata.org/hansreich/resources/pka/">Organic Chemistry Data prof</a></div>
        <div class="icon"><a target="_blank" href="https://www.acs.org/content/acs/en.html">ACS</a></div>
        <div class="icon"><a target="_blank" href="https://www.cas.org/">CAS</a></div>
        <div class="icon"><a target="_blank" href="http://orgsyn.org/Default.aspx">Organic Syntheses</a></div>
        <div class="icon"><a target="_blank" href="https://pubsapp.acs.org/cen/coverstory/88/8812cover.html">Pubsapp</a></div>
        <div class="icon"><a target="_blank" href="https://www.chem.uci.edu/">Department of chmeistry UCI</a></div>
        <div class="icon"><a target="_blank" href="https://www.chem.udel.edu/">University of Delaware</a></div>
        <div class="icon"><a target="_blank" href="https://www.strem.com/catalysis">Strem Catalysis</a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        <div class="icon"><a target="_blank" href="https://www.rsc.org/">Royal Society of Chemistry</a></div>
        <div class="icon"><a target="_blank" href="https://onlinelibrary.wiley.com/journal/1097461x">Wiley Journal</a></div> 
        <div class="icon"><a target="_blank" href="https://www.cell.com/">CellPress</a></div> 
        <div class="icon"><a target="_blank" href="https://academic.oup.com/journals">Oxford Academic Journal</a></div> 
        <div class="icon"><a target="_blank" href="https://www.sciencedirect.com/">Science Direct</a></div>
        <div class="icon"><a target="_blank" href="https://ocw.mit.edu/courses/chemistry">Chemistry</a></div>
        <div class="icon"><a target="_blank" href="https://chemistry.stackexchange.com/">Chemistry stackexchange</a></div>
        <div class="icon"><a target="_blank" href="https://chem.libretexts.org/">Chemistry libretexts</a></div>
        <div class="icon"><a target="_blank" href="https://ocw.mit.edu/courses/chemistry/5-60-thermodynamics-kinetics-spring-2008/lecture-notes/">MIT Thermodynamoic</a></div>
        <div class="icon"><a href="https://www.jstor.org/?refreqid=login%3Ac496cc54a31695637583dd62b80e35b5">Search journals, primary sources, and books on JSTOR</a></div>
        <div class="icon"><a target="_blank" href="https://openstax.org/subjects/science">Open Stax</a></div>
        <div class="icon"><a target="_blank" href="https://nptel.ac.in/course.html">NPTEl</a></div>
        <div class="icon"><a target="_blank" href="https://www.yumpu.com/en/document/view/42860982/13-summary-of-symmetry-operations-symmetry-elements-and-">Yumpu 13-summary-of-symmetry-operations-symmetry-elements</a></div>
        <div class="icon"><a target="_blank" href="https://www.sigmaaldrich.com/IN/en">Merck</a></div>
        <div class="icon"><a target="_blank" href="https://ptable.com/#Isotopes">Best Periodic Table</a></div>
        <div class="icon"><a target="_blank" href="https://chemequations.com/en/">Chemical Equations </a></div>
        <div class="icon"><a target="_blank" href="https://science.ucalgary.ca/chemistry">University of Calgary</a></div>
        <div class="icon"><a target="_blank" href="https://sites.google.com/a/learncheme.com/learncheme-modules/clausius-clapeyron-equation/">CHM222A</a></div>
        <div class="icon"><a target="_blank" href="https://demonstrations.wolfram.com/">wolfram</a></div>
        <div class="icon"><a target="_blank" href="http://www.learncheme.com/simulations/thermodynamics/thermo-2/vapor-liquid-equilibrium-diagram-for-non-ideal-mixtures">CHM222A .1</a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        <div class="icon"><a target="_blank" href="https://www.schulportal-thueringen.de/thueringer_schulcloud/">Germany</a></div>
        <div class="icon"><a target="_blank" href="http://leung.uwaterloo.ca/">Lenug uwaterloo</a></div>
        <div class="icon"><a target="_blank" href="https://academic.oup.com/imatrm/article/3/1/tnz006/5567391">Oxford Academic Journal Maths</a></div> 
    </mat-tab>
    
    <mat-tab label="Professors">
        
        <div class="icon"><a target="_blank" href="https://home.iitk.ac.in/~vinodks/index.html">Vinod KS IITK</a></div>
        <div class="icon"><a target="_blank" href="https://www.ramapanicker.net/links">Ramapanicker</a></div>
        <div class="icon"><a target="_blank" href="https://dunbar.tamu.edu/">Research Group Dunbar</a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        <div class="icon"><a target="_blank" href="https://dst.gov.in/">GOVERNMENT OF INDIA MINISTRY OF SCIENCE AND TECHNOLOGY</a></div>
        <div class="icon"><a target="_blank" href="https://www.organicdivision.org/organicsyntheticfaculty/">organicsyntheticfaculty</a></div>
        <div class="icon"><a target="_blank" href="https://serbonline.in/SERB/npdf">Science and Engineering Research Board / National Post Doctoral Fellowship (N-PDF)</a></div>
        <div class="icon"><a target="_blank" href="https://www.nmeict.ac.in/">National Mission on Education throught information and communication technology</a></div>
        <div class="icon"><a target="_blank" href="https://g05.tcsion.com/LX/contents/content_home?content_player=true&LaunchFrom=iHUB&newWindow=Y&org_id=1016&User-Agent=Computer&mtop_sec_key=mLEF%2B40dDa%2F3%2FwAL%2FcYKw8FOFimhwbJ0euz4uoPIwsc%2FiNshvAxIcF3yUg5Li%2Fz%2B&c_id=samskrita-sambhashanam-part-1-batch-01-380-2611&eForm=Y&usrid=16501159&TargetOrgid=2611&usrorgid=1016&serviceid=13&app_id=9519">TCS iON</a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        
    </mat-tab>
    
    <mat-tab label="Resourses">
        <div class="icon"><a target="_blank" href="https://archive.org/">Archive.org</a> </div>
        <div class="icon"><a target="_blank" href="https://unity.com/">Unity</a></div> 
        <div class="icon"><a target="_blank" href="https://www.nytimes.com/2005/12/11/magazine/zombie-dogs.html">Gombiee Dogs</a></div> 
        <div class="icon"><a target="_blank" href="https://www.chemie.de/">Chemie</a></div> 
        <div class="icon"><a target="_blank" href="http://www.chem.ucalgary.ca/courses/350/Carey5th/Carey.html">Ucalgary Chemistry</a></div>
        <div class="icon"><a target="_blank" href="http://chem.ch.huji.ac.il/nmr/whatisnmr/whatisnmr.html#:~:text=The%20principle%20behind%20NMR%20is,generally%20a%20single%20energy%20gap).">NMR</a></div>
        <div class="icon"><a target="_blank" href="https://symotter.org/gallery">Symmery symotter</a></div>
        <div class="icon"><a target="_blank" href="https://aklectures.com/subject/organic-chemistry/alkanes-and-hybridization">organic-chemistry aklectures</a></div>
        <div class="icon"><a target="_blank" href="https://epgp.inflibnet.ac.in/">ePathshala</a></div>
        <div class="icon"><a target="_blank" href="https://fdocuments.in/document/phosphine-ligands-pr-3.html">Phoshphineligands</a></div>
        <div class="icon"><a target="_blank" href="http://www.ilpi.com/organomet/index.html">Organometallic HyperTextBook</a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
        <div class="icon"><a target="_blank" href=""></a></div>
    </mat-tab>
    
    
    <mat-tab label="Study Sites">
        
        <h4>
            <div class="icon"><h1>Chemistry Sources</h1><a target="_blank" href="http://alpha.chem.umb.edu/chemistry/ch370/CH370_Lectures/lectures.html">chmeistry 370</a></div>
            <div class="icon"><a target="_blank" href="http://www1.udel.edu/chem/sneal/sln_tchng/CHEM620.bak/c620.paper.htm">Chemistry 620</a></div>
            <div class="icon"><a target="_blank" href="http://leung.uwaterloo.ca/CHEM/750/">Chemistry 750</a></div></h4>
            <div class="icon"><a target="_blank" href="https://chem.washington.edu/courses/2021/winter/chem/220/a">CHEM 220 A W university of Washington</a></div>
            <div class="icon"><a target="_blank" href="https://web.nmsu.edu/~snsm/classes/chem435/Lab5/">CHEM 435 Lab5</a></div>
            <div class="icon"><a target="_blank" href="https://www2.chemistry.msu.edu/faculty/reusch/VirtTxtJml/intro1.htm">Virtual Textbooks of OC</a></div>
            <div class="icon"><a target="_blank" href="https://www2.chemistry.msu.edu/courses/cem850/">Chemistry 850</a></div>
            <div class="icon"><a target="_blank" href="https://pdf4pro.com/view/introduction-to-computational-quantum-chemistry-theory-3db225.html">Quantum Chemistry</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            
            <div class="icon"><a target="_blank" href="http://www.suntrek.org/factary/p.shtml#p_pole">Sun|trek</a></div> 
            <div class="icon"><h1>ESO213 Fundamentals of Earth Science</h1><a href="https://iig.wwnorton.com/earth6/demo">Earth science by Stephen Marshak</a></div> 
            <div class="icon"><a target="_blank" href="http://ees2.geo.rpi.edu/pe1geo1_08/ss/lecture4/minerals_12.html">The Tectosilicates</a></div> 
            <div class="icon"><a target="_blank" href="https://www.tulane.edu/~sanelson/Natural_Disasters/index.html#LectureNotes">Natural_Disasters</a></div> 
            <div class="icon"><a target="_blank" href="https://www.adichemistry.com/">ADI Chemistry</a></div> 
        </mat-tab>
        
        <mat-tab label="University">
            
            <div class="icon"><a target="_blank" href="https://www.anu.edu.au/">Australian National University</a></div>
            <div class="icon"><a target="_blank" href="https://www.ucdavis.edu/">UC-DAVIS</a></div>
            <div class="icon"><a target="_blank" href="https://www.stanford.edu/">Stanford University</a></div>
            <div class="icon"><a target="_blank" href="https://web.gccaz.edu/~kimld88531/">Glendale community College</a></div>
            <div class="icon"><a target="_blank" href="https://www.uv.es/uvweb/universitat/ca/recerca-transferencia/parc-cientific/presentacio-1285946453317.html">Vniversity Deqvalencia</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
        </mat-tab>
        
        <mat-tab label="Hacking Adobe 3d modeling">
            
            <div class="icon"><a target="_blank" href="https://news.ycombinator.com/news">Hacker News</a></div>
            <div class="icon"><a target="_blank" href="https://frontrow.co.in/">FrontRow</a></div>
            <div class="icon"><a target="_blank" href="https://in.rebusfarm.net/en/3d-software/3ds-max-render-farm">Rebusfarm</a></div>
        </mat-tab>
        
        <mat-tab label="Coding">
            <div class="icon"><a target="_blank" href="https://campus.datacamp.com/courses/intro-to-python-for-data-science/chapter-1-python-basics?ex=10"> Python</a></div>
            <div class="icon"><a target="_blank" href="https://see.stanford.edu/Course/CS229">Machine Learning CS229</a></div>
            <div class="icon"><a target="_blank" href="https://www.ieeepsu.org/basit/cs210/index.html">Data Structure CS210</a></div>
            <div class="icon"><a target="_blank" href="https://prutor.ai/cs210-data-structures-module-37-2014-updated/">Prutor Data Structure</a></div>
            <div class="icon"><a target="_blank" href="https://prabuforeducation.wordpress.com/data-structure/algorthim/">Prabu For Education</a></div>
            <div class="icon"><a target="_blank" href="https://blog.bitsrc.io/">All frontend Blog Bitsrc</a></div>
            <div class="icon"><a target="_blank" href="https://www.xul.fr/en/">Ajax and html and java</a></div>
            <div class="icon"><a target="_blank" href="https://gabriellew.ee/">3d HTML and Css work like codepen</a></div>
            <div class="icon"><a target="_blank" href="https://www.interviewbit.com/old/problems/ways-to-form-max-heap/">Interview Bit</a></div>
            <div class="icon"><a target="_blank" href="https://leetcode.com/problemset/all/">LeetCode</a></div>
            <div class="icon"><a target="_blank" href="https://www.hackerrank.com/">Hackerrank</a></div>
            <div class="icon"><a target="_blank" href="https://www.hackerearth.com/">HackerEarth</a></div>
            <div class="icon"><a target="_blank" href="https://www.codechef.com/">Codechef</a></div>
            <div class="icon"><a target="_blank" href="https://codeforces.com/">Codeforce</a></div>
            <div class="icon"><a target="_blank" href="https://practice.geeksforgeeks.org/home/">Geeksforgeeks</a></div>
            <div class="icon"><a target="_blank" href="https://cp-algorithms.com/">CP-Algorithms</a></div>
            
        </mat-tab>
        
        <mat-tab label="Maths">
            
            <div class="icon"><a target="_blank" href="https://matrixcalc.org/en/">Matric Calculator</a></div>
            <div class="icon"><a target="_blank" href="https://www.omnicalculator.com/">Omni-Calculator</a></div>
            <div class="icon"><a target="_blank" href="http://www.calcinator.com/scicalc.html">Scientific Calculator</a></div>
            <div class="icon"><a target="_blank" href="https://in.mathworks.com/products/matlab.html">MatLab</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            
        </mat-tab>
    </mat-tab-group>
    
    
    
    <mat-tab-group>
        
        <mat-tab label="PDF">
            
            <div class="icon"><a target="_blank" href="https://www.sejda.com//">Sejda</a></div>
            <div class="icon"><a target="_blank" href="https://pdfcookie.com/documents/cantilever-slab-design-7rv3zek8q1ld">BOOK pdfcookie</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
        </mat-tab>
        
        <mat-tab label="Learning Books and Library Source">
            
            <div class="icon"><a target="_blank" href="https://www.library.iitb.ac.in/">IITB</a></div>
            <div class="icon"><a target="_blank" href="https://library.iitgn.ac.in/unicat/#">IITGN</a></div>
            <div class="icon"><a target="_blank" href="https://link.springer.com/search?facet-content-type=%22Book%22">Springer</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            <div class="icon"><a target="_blank" href="https://www.gutenberg.org/">Gutenberg</a></div>
            <div class="icon"><a target="_blank" href="https://nptel.ac.in/">NPTEL</a></div>
            <div class="icon"><a target="_blank" href="https://ntrs.nasa.gov/">NASA</a></div>
            <div class="icon"><a target="_blank" href="https://earthcape.com/">earthcape must see</a></div>
            <div class="icon"><a target="_blank" href="http://ax7mz7ug3q.search.serialssolutions.com/?ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info%3Asid%2Fsummon.serialssolutions.com&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&rft.genre=article&rft.atitle=Catechol+and+HCl+Adsorption+on+TiO2%28110%29+in+Vacuum+and+at+the+Water%E2%80%93TiO2+Interface&rft.jtitle=The+journal+of+physical+chemistry+letters&rft.au=Kristoffersen%2C+Henrik+H&rft.au=Shea%2C+Joan-Emma&rft.au=Metiu%2C+Horia&rft.date=2015&rft.pub=American+Chemical+Society&rft.issn=1948-7185&rft.eissn=1948-7185&rft.volume=6&rft.spage=2277&rft.epage=2281&rft_id=info:doi/10.1021%2Facs.jpclett.5b00958&rft.externalDocID=a63106511&paramdict=en-US">NIST Research Library</a></div>
            <div class="icon"><a target="_blank" href="http://shakespeare.mit.edu/works.html">William shakespeare</a></div>
            <div class="icon"><a target="_blank" href="https://www.open.edu/openlearn/">OpenLearn</a></div>
            <div class="icon"><a target="_blank" href="https://digilibraries.com/">DigiLibraries</a></div>
            <div class="icon"><a target="_blank" href="https://manybooks.net/">Many Books net</a></div>
            <div class="icon"><a target="_blank" href="https://www.bookdepository.com/">Book Depository</a></div>
            <div class="icon"><a target="_blank" href="https://elibrary.in.pearson.com/login">Pearson</a></div>
            <div class="icon"><a target="_blank" href="https://app.kortext.com/login?returnurl=https://read.kortext.com/">Kortext</a></div>
            <div class="icon"><a target="_blank" href="https://www.cengage.co.in/">Cengage</a></div>
            <div class="icon"><a target="_blank" href="http://www.authorama.com/">Authorama</a></div>
            <div class="icon"><a target="_blank" href="https://onlinebooks.library.upenn.edu/search.html">Library onlinebooks</a></div>
            <div class="icon"><a target="_blank" href="https://www.intechopen.com/search?term=horia">Intechopen</a></div>
            <div class="icon"><a target="_blank" href="http://www.rarebookroom.org/">RareBookRoom</a></div>
            <div class="icon"><a target="_blank" href="http://www.readprint.com/home/search/?query=horia%20metiu&type=all">readprint</a></div>
            <div class="icon"><a target="_blank" href="https://onlinelibrary.wiley.com/doi/full/10.1002/advs.201900471">Wiley online Library Plasmonic Photothermal Nanoparticles for Biomedical Applications</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
        </mat-tab>
        
        <mat-tab label="Wastage">
            
            <div class="icon"><a target="_blank" href="https://www.wallpaperflare.com/search?wallpaper=text">Wallpaperflare</a></div>
            <div class="icon"><a target="_blank" href="https://app.clipchamp.com/">Clipchamp</a></div>
            <div class="icon"><a target="_blank" href="https://www.canva.com/">Canva</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            
        </mat-tab>
        
        <mat-tab label="IITK">
            
            <div class="icon"><a target="_blank" href="http://103.246.106.130/app/iitk">SURGE</a></div>
            <div class="icon"><a target="_blank" href="https://sipp.iitk.ac.in/login/">SIPP INTERNSHIP IITk</a></div>
            <div class="icon"><a target="_blank" href="https://oag.iitk.ac.in/studiitk/studscr/homePage.jsp">OAG IITK</a></div>
            <div class="icon"><a target="_blank" href="https://oa.cc.iitk.ac.in/Oa/Jsp/Main_Frameset.jsp">OA.CC IITk</a></div>
            <div class="icon"><a target="_blank" href="https://techkriti.org/">Techkriti</a></div>
            <div class="icon"><a target="_blank" href="https://iitk-in.workplace.com/work/landing/input/?next=https%3A%2F%2Fiitk-in.workplace.com%2Fprofile.php%3Fid%3D100055413182989">IITK workplace</a></div>
            <div class="icon"><a target="_blank" href="https://prezi.com/login/?next=https%3A%2F%2Fprezi.com%2Fdashboard%2Fnext%2F#/all">Prezi</a></div>
            <div class="icon"><a target="_blank" href="https://www.iitk.ac.in/doaa/data/Course-Template-B.Tech-BS.pdf"> IITK Course-Template</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            
        </mat-tab>
        
        <mat-tab label="Projects">
            
            <div class="icon"><a target="_blank" href="https://nevonprojects.com/automatic-wire-cutter-and-stripper-machine/">NevonProjects</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            
        </mat-tab>
        
        <mat-tab label="Flights">
            
            <div class="icon"><a target="_blank" href="https://www.skyscanner.co.in/transport/flights/ijai/bkkt/210818/?adultsv2=1&cabinclass=economy&childrenv2=&inboundaltsenabled=false&outboundaltsenabled=false&preferdirects=false&priceSourceId=&priceTrace=&qp_prevCurrency=INR&qp_prevPrice=OneWayNone&qp_prevProvider=ins_month&rtn=0">SKY Scanner</a></div>
            <div class="icon"><a target="_blank" href="https://www.goibibo.com/flight-review/?t=e7f6351e053ac2dc60a1898b150b6cf7&utm_source=Meta&utm_medium=skyscanner&utm_campaign=df_JAI_GAU_OW&skyscanner_redirectid=hADbzO8xQQe9vD318fTG4w">Goibibo</a></div>
            <div class="icon"><a target="_blank" href=""></a></div>
            
        </mat-tab>
        
        <mat-tab label="Semester">
            
            <div class="icon"><a target="_blank" href="https://study.com/academy/topic/campbell-biology-chapter-20-dna-tools-and-biotechnology.html">Study.Com campbell-biology-chapter-20-dna-tools-and-biotechnology</a></div>
            <div class="icon"><a target="_blank" href="https://docs.google.com/document/d/1U-Pzw_bl0GU3gsLqQj0rId1ZqhSQk-3U7-WVoIprG6M/edit">ESO206</a></div>
            <div class="icon"><a target="_blank" href="https://www.youtube.com/watch?v=U_W-Ee3h12o">ESO206 youtube A</a></div>
            <div class="icon"><a target="_blank" href="https://www.youtube.com/c/SumanBhattacharjeeShomusBiologyOnline/videos">ESO206 youtube B</a></div>
            
        </mat-tab>
        
    <mat-tab label="Angular">
        
    <div class="icon"><a target="_blank" href="https://material.angular.io/components">Material</a></div>
    <div class="icon"><a target="_blank" href="https://start.spring.io/">Spring Initializr</a></div>
    <div class="icon"><a target="_blank" href="https://docs.angularjs.org/api/ng/directive/ngClick">docs</a></div>
    <div class="icon"><a target="_blank" href="https://api.jquery.com/addClass/">API</a></div>
    <div class="icon"><a target="_blank" href="https://plnkr.co/edit">Editor</a></div>
    <div class="icon"><a target="_blank" href="https://angular.io/api?type=ngmodule">ngfor etc</a></div>
    <div class="icon"><a target="_blank" href="https://ng-bootstrap.github.io/#/components/accordion/examples">ng-Bootstrap</a></div>
    <div class="icon"><a target="_blank" href="https://jasmine.github.io/pages/getting_started.html">jasmine ng test</a></div>
    <div class="icon"><a target="_blank" href=""></a></div>
    <div class="icon"><a target="_blank" href=""></a></div>
    
</mat-tab>
</mat-tab-group>





<mat-tab-group>        

        
    <mat-tab label="Best I remember videos">
        
    <div class="icon"><a target="_blank" href="https://www.youtube.com/watch?v=VQcG5LLxhGA">NPM screen share using electron js</a></div>
    <div class="icon"><a target="_blank" href="https://freemediatools.com/">freemediatools</a></div>
    <div class="icon"><a target="_blank" href=""></a></div>
    
</mat-tab>

</mat-tab-group>


